*{
    margin: 0;
    padding: 0;
    font-family: arial;
    text-decoration: none;
}

header{
    background-size: cover;
    background-repeat: no-repeat;
    background-image:  url(../IMAGES/about-us-img.jpg);
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    
}

.M1{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    height: 100%;
}

.text-on-image{
    position: relative;
    top: -550px;
}

nav{
    display: block;
    margin: 0;
}

pre{
    font-size: 17px;
}

ul{
    margin-right: 150px;
}

li{
    display: inline;
    float: right;
    list-style: none;
    padding-right: 40px;
    position: relative;
    top: -70px;
    right: 30px;
    font-size: 17px;
    cursor: pointer;
}

:any-link{
    color: white;
}

:any-link:hover{
    color: grey;
}

.nav-text{
    font-size: 30px;
    line-height: 1.5;
    padding: 20px;
    padding-left: 80px;
    color: white;
}

.first-button{
    width: 130px;
    padding: 10px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-size: 17px;
    float: right;
    position: relative;
    top: -80px;
    left: 500px;
    cursor: pointer;
}

.first-button:hover{
    background-color: grey;
    color: white;
    transition: 0.35s;
}

.first-text-on-image{
    color: white;
    text-align: center;
    position: relative;
    top: -500px;
}

.text1{
    font-size: 70px;
    padding: 10px;
    position: relative;
    top: 80px;
    right: -325px;
}
             
               /*INFO PORTION*/

.container{
    height: 40vh;
}

.info-portion{
    height: 40%;
    margin-top: -100px;
    background-color: white;
    text-align: center;
    padding: 50px;
    position: relative;
    top: -110px;
}

.hr-1{
    width: 25%;
    border-top: 3.5px solid black;
    border-bottom: none;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-boxes{
    margin-top: 5px;
    margin-left: 40px;
}

.our-mission-img{
    width: 460px;
    height: 250px;
}

.portion-1{
    width: 45%;
    height: 250px;
    position: relative;
    margin-bottom: 150px;
}

.portion-2{
    width: 45%;
    height: 250px;
    position: relative;
    left: 515px;
    top: -390px;
}

.portion-3{
    width: 45%;
    height: 250px;
    position: relative;
    top: -255px;
}

.portion-4{
    width: 45%;
    height: 250px;
    position: relative;
    left: 515px;
    top: -510px;
}

h1{
    font-size: 40px;
    text-align: left;
}

h2{
    font-size: 28px;
    text-align: left;
}

p.info-text{
    font-size: 21px;
    color: rgb(69, 67, 67);
    text-align: left;
    line-height: 1.5;
}

/* FOOTER STYLING */

footer{
    background-color: rgb(60, 55, 55);
    color: white;
    font-size: 15px;
    text-align: center;
    height: 60px;
    width: 100%;
    padding-top: 20px;
    position: relative;
    top: 900px;
}
                /*   OUR CLIENTS */

.client-logo{
    padding: 20px;
    position: relative;
    top: 800px;
    bottom: 200px;
    left: 130px;
}

.clients-heading{
    position: relative;
    top: -350px;
    left: 320px;
}

.hr-2{
    width: 10%;
    border-top: 3.5px solid black;
    border-bottom: none;
    position: relative;
    top: -330px;
    left:380px;
}

.client-text{
    font-size: 21px;
    color: rgb(69, 67, 67);
    width: 80%;
    text-align: center;
    line-height: 2;
    position: relative;
    top: -250px;
}

.L1{
       width: 15%;
}

.L2{
    width: 15%;
    padding: 10px;
}

.L3{
    width: 12%;
    padding: 10px;
}

.L4{
    width: 13%;
    padding: 10px;
}

.L5{
    width: 11%;
    padding: 10px;
}                